name: at_wavi_app
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html

# For mobile version
version: 1.0.6+19
# For desktop version macos
# version: 1.0.2+16
# For desktop version windows
# version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_slidable: ^0.6.0
  provider: ^6.0.2
  flutter_image_compress: ^1.1.0
  path_provider: ^2.0.9
  permission_handler: ^9.2.0
  at_base2e15: ^1.0.0
  youtube_player_flutter: ^8.0.0
  receive_sharing_intent: ^1.4.5
  http: ^0.13.4
  file_picker: ^4.5.0
  easy_debounce: ^2.0.2+1
  validators: ^3.0.0
  latlong2: ^0.8.1
  image_cropper: ^1.5.0
  extended_image: ^6.2.1
  image: ^3.1.1
  showcaseview: ^1.1.1
  desktop_window: ^0.4.0
  shared_preferences: ^2.0.7

  html_editor_enhanced: ^2.4.0+1
  flutter_widget_from_html: ^0.8.5
  qr_flutter: ^4.0.0
  share_plus: ^4.0.3
  url_launcher: ^6.0.20

  
  at_common_flutter: ^2.0.7
  at_onboarding_flutter: ^4.0.2
  at_client_mobile: ^3.1.17
  at_client: ^3.0.22
  at_contact: ^3.0.5
  at_lookup: ^3.0.22
  at_contacts_flutter: ^4.0.4
  at_commons: ^3.0.17
  at_follows_flutter: ^3.0.6
  at_location_flutter: ^3.1.3
  at_sync_ui_flutter: ^1.0.2
  uni_links: ^0.5.1

  flutter_dotenv: ^5.0.2 
  flutter_qr_reader: ^1.0.5

  new_version: ^0.3.0
  another_flushbar: ^1.10.28

dependency_overrides:
  permission_handler: ^9.2.0
  biometric_storage: ^4.1.0
  at_follows_flutter:
    path: /Users/apple/Desktop/client_projects/at_company_github/at_widgets/at_follows_flutter
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  msix: ^3.3.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - .env
    - assets/images/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: PlayfairDisplay
      fonts:
        - asset: assets/fonts/PlayfairDisplay-Bold.ttf
          weight: 500

    - family: Inter
      fonts:
        - asset: assets/fonts/inter/Inter-Thin.ttf
          weight: 100
        - asset: assets/fonts/inter/Inter-ExtraLight.ttf
          weight: 200
        - asset: assets/fonts/inter/Inter-Light.ttf
          weight: 300
        - asset: assets/fonts/inter/Inter-Regular.ttf
          weight: 400
        - asset: assets/fonts/inter/Inter-Medium.ttf
          weight: 500
        - asset: assets/fonts/inter/Inter-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/inter/Inter-Bold.ttf
          weight: 700
        - asset: assets/fonts/inter/Inter-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/inter/Inter-Black.ttf
          weight: 900
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

msix_config:
  display_name: "@wavi"
  publisher_display_name: "The @ Company"
  identity_name: TheCompany.wavi
  publisher: CN=BBFE1D0B-F713-4C7F-B375-5EA851CBB1FF
  msix_version: 1.0.6.0
  logo_path: app-icon.png
  capabilities: internetClient
  store: true